body {
    background-color: black;
    color: #7f8291;
    padding: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky; 
    padding: 10px;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(30px); 
}

.menu div a:hover, .github:hover, .linkedin:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: inherit;
}

.github a svg, .linkedin a svg {
    width: 1.5rem;
    height: 1.5rem;
    flex: 0; 
}
.github a svg {
    margin-left: 15px;
}
.linkedin a svg {
    margin-right: 15px;
}

.nav {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    gap: 30px; 
}

h3 {
    margin: 0;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.desc h1 {
    font-family: "Bungee Shade", serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    text-align: center;
    color: transparent; 
    background: linear-gradient(90deg, #ffffff, #ffffff, #090303, #000000); 
    background-size: 200%; 
    -webkit-background-clip: text; 
    background-clip: text;
    transition: transform 0.5s ease-in-out;
    animation: gradient-glow 3s; 
    animation-iteration-count: 1;
}

.desc h1:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}

@keyframes gradient-glow {
    0% {
        background-position: 200%;
    }
    100% {
        background-position: 0%;
    }
}

.desc p{
    font-size: 1.5rem;
    text-align: center;
}

.skill{
    text-align: center;
}

footer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.peek svg{
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    width: 1.5rem;
    height: 1.5rem;
}

.peek svg:hover{
    color: #ffffff;
    width: 2rem;
    height: 2rem;
}

.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: black; 
}

.marquee-content {
    display: flex;
    animation: scroll 20s linear infinite; 
    gap: 20px; 
}

.marquee-content span {
    display: inline-block;
    white-space: nowrap; 
    padding: 5px 15px; 
    background-color: #7f8291;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center; 
    transition: background-color 0.3s, font-size 0.3s;
}

.marquee-content span:hover {
    background-color: #ffffff;
    font-size: 1.2rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}


/* projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: auto; 
    padding: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #707071;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 30px; 
}
.project:hover{
    border-color: #fff;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.project-details {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5;
}

.project-image {
    width: 100%;
    height: 50vh; 
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    transition: background-size 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.project:hover .project-image{
    opacity: 1;
}

.project-image:hover {
    background-size: 55%;
}

.project-details h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
}
.project-details h2:hover {
    transform: scale(1.1);
    cursor: context-menu;
}

.project-details p {
    text-align: justify;
}
.project-details p:hover {
    color: rgb(255, 255, 255);
    cursor: context-menu;
}

.project-details div{
    height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-details div div{
    width: auto;
}
.project_links {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}


@media (min-width: 768px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        justify-content: space-between;
    }

    .project {
        flex: 0 0 48%; 
        flex-direction: column;
        margin-bottom: 20px;
    }

    .project-details {
        text-align: left;
    }
}


/*  */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.avatar {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.details {
    flex: 2;
    max-width: 600px;
    margin: 20px;
}
.details h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4em;
    color: #333;
    margin-bottom: 10px;
}
.details p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}
.details ul {
    list-style-type: none;
    padding: 0;
}
.details ul li {
    font-size: 1em;
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.details ul li span {
    font-weight: bold;
    margin-right: 5px;
}
.link svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1em;
    margin-right: 1em;
}
.link svg:hover{
    color: #fff;
}
.details h1, p, h4, ul li {
    transition: 0.2s ease-in-out;
}
.details h1:hover, p:hover, h4:hover, ul li:hover {
    color: #fff;
    transform: scale(1.02);
    cursor:context-menu;
}
#details{
    font-size: 1em;
    height: 5px; 
    color: #fff;
}