body {
    background-color: black;
    color: #7f8291;
    padding: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky; 
    padding: 10px;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(30px); 
}

.menu div a:hover, .github:hover, .linkedin:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: inherit;
}

.github {
    flex: 0; 
}

.nav {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    gap: 30px; 
}

.linkedin {
    flex: 0; 
}

h3 {
    margin: 0;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.image img{
    border-radius: 50%;
    width: 100%;
}

.image img:hover{
    src: url(cap_pic_edit.jpg);
}

.image{
    width: 25%;
    left: 30%;
}

.content{
    padding: 2%;
    width: auto;
    color: #7f8291;
}

.name{
    font-size: 3.5em;
    margin-bottom: 0px;
}

.desc{
    margin-top: 0px;
}

.skill{
    text-align: center;
}

.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: black; 
}

.marquee-content {
    display: flex;
    animation: scroll 20s linear infinite; 
    gap: 20px; 
}

.marquee-content span {
    display: inline-block;
    white-space: nowrap; 
    padding: 5px 15px; 
    background-color: #7f8291;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center; 
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/*  */
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh; 
    padding: 20px;
    box-sizing: border-box;
}

.project-details {
    flex: 1;
    max-width: 35%;
    padding: 30px;
    font-size: 1.2em;
    line-height: 1.5;
}

.project-image {
    flex: 1;
    max-width: 65%;
    height: 80%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    border-radius: 10px;
    transition: background-size 0.5s ease, transform 0.5s ease;
}

.project-image:hover {
    background-attachment: scroll; 
    background-size: 105%; 
    transform: scale(1.05); 
}


.project-details h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.detail_pro {
    display: none;
    background-color: #212121; 
    color: #7f8291; 
    font-size: 1.2em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.detail_pro:hover {
    background-color: white; 
    transform: scale(1.1);
}

.project-details:hover .detail_pro {
    display: block;
    transition: transform 0.3s;
}


/*  */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.avatar {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.details {
    flex: 2;
    max-width: 600px;
    margin: 20px;
}
.details h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3em;
    color: #333;
    margin-bottom: 10px;
}
.details p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}
.details ul {
    list-style-type: none;
    padding: 0;
}
.details ul li {
    font-size: 1em;
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.details ul li span {
    font-weight: bold;
    margin-right: 5px;
}
.contact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.contact-btn:hover {
    background-color: #333;
}